/*
  FADE
*/
.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  transition: opacity 0.5s ease;

}

.fade-leave {
  /*opacity: 1;*/
}

.fade-leave-active {
  transition: opacity 0.5s ease;
  opacity: 0;
}