@import "base";
@import "breakpoints";
@import "flexy-layout";
@import "form-elements";
@import "buttons";

@import "login";



*{

  box-sizing: border-box;

}


body{

  margin: 0;

  padding: 0;

  font-family: helvetica;

  font-size: 13px;

  color: $grey;

  font-weight: 100;

  background: #F4F8F9;

}

a{

  color: $grey;

}

ul{

  margin: 0;

  padding: 0;

  list-style: none;

}
